/* used google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles for the page */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* style for the header section */
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background: #2D25A0;
    height:600px;
    width: 100%;

}
.main-title{
    
    margin-left: 156px;
    
}
h1{
    font-size: 50px;
    color: white;
    margin: 0px;
}
.button{
    background-color: #E02C6D;
    color: white;
    padding: 7px 13px;
   
}
.main img{
    width: 488px;
    height: 428px;
    
} 
.main-img{
    margin-right: 141px;
}
.main .main-img:hover{
    height: 500px;
    width:  500px;

}
/* players photo Galary
*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 76px;
    padding: 5px 180px;
    

}
.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    padding: 8px;
    box-shadow: 2px 3px 15px 1px lightgrey;
   
}
.players .player img{
    width: 300px;
    height: 256px;
}
