/*-----------------------
    used google font 
-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* -------------------------------
      common styles for the page 
-----------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* ------------------------------------------
        style for the header section 
----------------------------------------------*/
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2D25A0;
    height:600px;
    width: 100%;
}
.main-title{
    margin-left: 156px;    
}
h1{
    font-size: 50px;
    color: white;  
}
.button{
    background-color: #E02C6D;
    color: white;
    padding: 7px 13px;
    border-radius: 5px; 
}
.main img{
    width: 488px;
    height: 428px;    
} 
.main-img{
    margin-right: 141px;
}
.main .main-img:hover{
    height: 500px;
    width:  500px;
}
/*------------------------------
     players photo Galary
--------------------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 76px;
    padding: 5px 180px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 2px 3px 15px 1px lightgrey; 
}
.players .player img{
    width: 100%;
    height: 256px;
}

/*----------------------------------
      Matches Table  style 
-------------------------------------*/

fieldset{
    text-align: center;
    background-color: #ebe6df;
    border: 14px solid #001489;
    box-shadow: 2px 3px 15px 1px lightgrey;
    margin: 30px;
    padding: 10px;    
}
fieldset img{
    width: 100%;
}
legend{
    font-size: 50px;
    display: table;
    text-align: center;
    font-weight: 700;
    background-color:#001489;
    color: white;
    padding: 0 10px;
    border-radius: 5px;
}
/*----------------------------------------
      style for sponser section 
-----------------------------------------*/

.sponser-display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 14%;
}
hr{
    border: 1px solid lightgray;
    width: 80%;
}
/*------------------------------------------
             footer styles 
--------------------------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 63px;
}
.footer img{
    width: 480px;
    height: 110px;
}
.social-icon{
    padding: 5px;
    font-size: 20px;
}
/*-----------------------------------
  mediaQuary Style for responsive
----------------------------------- */
/*-------------------------------------
   Responsive For Mobile Diviece
------------------------------------- */
@media only screen and (max-width:688px) { 
    /* -------------------------------------------------------
 Responsive For Mobile Diviece style for the header section 
------------------------------------------------------------*/
.main{
       flex-direction: column;
       justify-content: space-around;
       align-items: normal;
       height: 900px;
   }
.main-title{
    margin-left: 18px;    
}
.main img{
    width: 329px;
    height: 260px;
}
  /* -------------------------------------------------------
 Responsive For Mobile Diviece style for the Players section 
------------------------------------------------------------*/
.players {
    grid-template-columns: repeat(1,1fr);
    padding: 2px 2px;
    margin: 15px;
}
/* -------------------------------------------------------
 Responsive For Mobile Diviece style for the Sponser section 
------------------------------------------------------------*/
.sponser-display {
    grid-template-columns: repeat(1,1fr);
   
}
/* -------------------------------------------------------
 Responsive For Mobile Diviece style for the Footer section 
------------------------------------------------------------*/
.footer img{
    width: 125px;
    height: 30px;
}
}
/*-----------------------------------
     Responsive for Tablet Device
------------------------------------- */
@media only screen and (min-width: 688px) and (max-width:992px){
/* ----------------------------------------------------------
 Responsive For Tablet Diviece style for the header section 
------------------------------------------------------------*/
 .main {
        justify-content: space-around;
        flex-direction: column;
        height: 1000px;
}
.main-title{
    margin: 0;
}
.main-img{
    margin: 0;
}
/* ----------------------------------------------------------
 Responsive For Tablet Diviece style for the Players section 
------------------------------------------------------------*/
.players {
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    padding: 2px 2px;
    margin-left: 0;
}
/* ----------------------------------------------------------
 Responsive For Tablet Diviece style for the Sponser section 
------------------------------------------------------------*/
.sponser-display{
    grid-template-columns: repeat(2,1fr);
   
}
    
}